<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h1>About</h1>
        <br class="normal">
                <br class="normal">
        <br class="normal">

      </header>


      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content thin">

        <img src="{{ site.baseurl }}/images/about.jpg"/>
        <p class="subtitle">Sound mixing at the Hannah in Te Whanganui-a-Tara Wellington.</p>
        <br class="normal">

        <p>Paige is a highly skilled theatre technician with a broad expertise in delivering exceptional live events. With a solid foundation as a sound designer, she brings additional technical proficiency in lighting design, production management, and stage management. Her versatile experience makes her a valuable asset across a variety of production disciplines.</p>
        <p>Paige studied at Mountview Academy of Theatre Arts in London, where she earned a Postgraduate Diploma in Theatre Production Arts with Distinction. During her time in the UK, she worked on high-profile productions such as <em>Hamilton</em>, <em>Wicked</em>, and <em>Phantom of the Opera</em>, gaining invaluable experience on large-scale, world-class shows.</p>
        <p>Since returning to New Zealand, Paige has built an impressive portfolio, contributing as a sound engineer and programmer for notable events such as the Aotearoa New Zealand Festival, World of WearableArt, and the Kia Mau Festival. She has also worked as a technical contractor for companies including Grouse Lighting, YooCrew, and Tungsten Projects. Most recently, Paige served as the Head of Sound for the Royal New Zealand Ballet on national touring productions, including<em>A Midsummer Night’s Dream</em>, <em>The Firebird</em> and <em>Home, Land and Sea</em>.</p>
        <p>Passionate about the craft of theatre, Paige has designed for a range of companies, including WITCH Music Theatre, Red Scare Theatre, and Whitireia Musical Theatre. She also spent two years as the Venue Technician at Te Auaha, and has extensive experience in technical operations across a wide variety of venues in Te Whanganui-a-Tara and throughout Aotearoa.</p>
        <p>With a dedication to pushing creative boundaries and ensuring seamless technical execution, Paige continues to be a dynamic force in the New Zealand theatre and events community.</p>

      </div>

    </div>

  </div>
</section>
