<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h1>About</h1>
        <br class="normal">
                <br class="normal">
        <br class="normal">

      </header>


      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content thin">

        <img src="{{ site.baseurl }}/images/RocT-221-1.jpg" alt="Greyscale photo of Paige smiling past the camera." />
        <p class="subtitle">Sound mixing for WITCH Music Theatre’s ROXY at Te Auaha.</p>
        <br class="normal">


        <p>Paige is an experienced theatre technician with a comprehensive understanding of what is required to deliver successful events. With a background as a sound designer, she has additional technical expertise as a lighting designer, production manager and stage manager.</p>

        <p>Her passion for theatre is evident in her growing CV. Paige has worked with companies such as Red Scare Theatre, the Wellington Footlights Society and WITCH Theatre, across venues including BATS Theatre and Te Auaha. Paige enjoys working on musical theatre, having created sound designs for musicals such as That Bloody Woman, Chess, My Fair Lady, Heathers: The Musical, If/Then and Carrie: The Musical.</p>

        <p>Outside of theatre, Paige has worked extensively with Supertonic Choir, designing and mixing concerts that push the boundaries of choral music. her highlights have included mixing the choir alongside rock bands in concerts featuring the music of Queen, David Bowie and Fleetwood Mac, as well as concerts featuring an atmospheric rock back and a jazz trio. More recently, she has worked with comedy pop duo Two Hearts on their NZ Comedy Festival show, with sold out shows at San Fran and Q&rsquo;s Rangatira theatre.</p>

        <p>Paige has worked in the Michael Fowler Center with the New Zealand Choral Federation&rsquo;s &lsquo;The Big Sing&rsquo; festival, primarily as a sound mixer and more recently as a Stage Manager.</p>

        <p>Paige also enjoys working on digital audio production, and produced the Phoenix City podcast for Yellow Fever, the supporters club of Wellington Phoenix FC between 2015 and 2022, and her own podcast The Worst Game of All-Time. Paige has also work on two musical theatre cast recordings, as recording engineer and mixer for M&rsquo;Lady: A Meninist Musical in 2017, and mastering The Bone Thief in 2020.</p>

        <p>In 2019, Paige moved to London to study at Mountview, one of the UK&rsquo;s leading drama schools, where she gained a Postgraduate Diploma in Theatre Productions Arts (Sound) with Distinction. During her time at Mountview, she gained experience working in several disciplines across the theatre sound environment, including programming and operating DiGiCo sound desks, working alongside leading sound designers to install their designed systems as the production sound engineer, and backstage fitting and managing microphones on large ensemble casts.</p>

        <p>Paige has a Bachelor of Science (Computer Science) from Victoria University of Wellington, which has become increasingly useful in the theatre industry as it is being revolutionised by computer-based technologies.</p>
      </div>

    </div>

  </div>
</section>
