<!-- Contact Section -->
<section class="site-section contact-section" id="contact">

  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h2>Contact</h2>
        <br>
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content">
        <p>Have a project coming up that you are looking for collaborators on? Get in touch by <a href="mailto:paige@pbproduction.co">email</a> or by using this form, and we'll be in touch.</p>
      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container">

      <!-- Contact Form -->
      <div class="col-md-8 col-md-push-2">
        <form id="sera-contact-form" action="https://formspree.io/f/xknljnld" method="POST"
          class="contact-form container-fluid">
          <div class="col-md-6">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="col-md-6">
            <input type="text" name="website" placeholder="Website" />
          </div>
          <div class="col-md-6">
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div class="col-md-6">
            <input type="text" name="subject" placeholder="Subject" />
          </div>
          <div class="col-md-12">
            <textarea name="message" rows="8" cols="40" placeholder="Message"></textarea>
          </div>
          <div class="col-md-12 form-action">
            <button type="submit" class="send-button">Send Message</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>
