<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h2>Patrick is a theatre designer, technician and production manager based in Wellington, New Zealand.</h2>
        <br class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content thin">
        <p class="thin">
          Patrick has a background working in live theatre, events, music and digital audio production.  He has returned to Wellington after studying a postgraduate diploma in theatre sound at Mountview Academy of Theatre Arts in London, and he has a strong belief in the storytelling power of theatre.
        </p>
        <p class="thin">
          If you have an upcoming project you’d like to collaborate with Patrick on, get in touch via <a href="mailto:hello@patricbarnes.co.nz">email</a> or through the <a href="#contact">contact form</a>.
        </p>
      </div>

    </div>

  </div>
</section>
