<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h2>Paige is a theatre designer, technician, audio engineer and production manager currently based in Wellington, New Zealand.</h2>
        <br class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content thin">
        <p class="thin">
          Paige has a background working in theatre, events, live music and digital audio production, and is currently based in Wellington, New Zealand.
        </p>
        <p class="thin">
          If you have an upcoming project you’d like to collaborate on, get in touch via <a href="mailto:paige@pbproduction.co">email</a> or through the <a href="#contact">contact form</a>.
        </p>
      </div>

    </div>

  </div>
</section>
