<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-1 col-sm-12 section-header">
        <h1>Services available</h1>
        <br>
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-1 col-sm-12 section-content thin">
        <ul>
          <li><p>Theatre sound &amp; lighting design</p></li>
          <li><p>Production & stage management for theatre and events</p></li>
          <li><p>Live audio mixing (music and theatre)</p></li>
          <li><p>Podcast editing and production</p></li>
          <li><p>Recording engineering</p></li>
          <li><p>Music production - mixing and mastering</p></li>
        </ul>
        <br>
        <p> For examples of Patrick’s previous work, check out the Credits and Listen pages.</p>
      </div>

    </div>

  </div>
</section>
