<!-- Parallax Section -->
<section class="feature-image-section parallax" id="hero-image" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '50%' }">
      <img src="{{ site.baseurl }}/images/hero-image.png" alt="Paige Barnes operating a sound console." />
  </div>

  <div class="container">

    <!-- Site Header Banner -->
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '50%', 'opacity': '1.4' }">

      <div class="heading-content child-center-h child-center-v">

        <!-- Heading Title -->
        <div class="row heading-title">
          <img src="{{ site.baseurl }}/images/logo.png" alt="PB Production." />

        </div>

      </div>

    </div>
  </div>
</section>
