<!-- Site Header -->
<header class="site-header parallax" id="home">

 <div class="container">

    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">

      <!-- Logo -->
      <div class="col-sm-4 col-xs-4 logo child-center-v">
        PB Production
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-8 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/credits">credits</a></li>
            <li><a href="/photos/gallery">gallery</a></li>
            <li><a href="/#contact">contact</a></li>
          </ul>
        </nav>

      </div>


    </div>

  </div>
</header>
